<div class="request-container">
<div class="request-select">
  <h1 class="request-headline"><%= "Bookingnumber #{@booking.id}" %></h1>
      <%= simple_form_for(@booking) do |f| %>
        <%= f.select :status, [:Accept, :Decline], class: "request-select" %>
        <%= f.submit "Continue", class: "request-cta" %>
      <% end %>
</div>
  <h2 class="request-subheadline">Requested booking</h2>
  <div class="request-details">
    <p class="request-booking-name"><%= @booking.camel.name %></p>
    <p class="request-booking-price"><%= humanized_money_with_symbol(@booking.amount) %></p>
    <p class="request-booking-purpose"><%= @booking.camel.purpose %></p>
    <p class="request-booking-photo"><%= cl_image_tag @booking.camel.photo.key, height: 300, width: 400, crop: :fill %></p>
    <p class="request-booking-check_in"><%= @booking.check_in %></p>
    <p class="request-booking-check_out"><%= @booking.check_out %></p>
  </div>
</div>
