<h1>Requests for your amazing camels 🐫</h1>
<br>

<%# How to link the following to the request made by the user? %>
<% @bookings.each do |booking| %>
    <% if booking.status == "pending" %>
        <div class="request-card">
              <%= cl_image_tag booking.camel.photo.key, height: 150, width: 200, crop: :fill %>
              <%= booking.user.first_name %> would like to rent your amazing camel
              <%= booking.camel.name %> for a
              <%= booking.camel.purpose %>
              <%# // add date request here %>
              <br>
              Date: How to link the dates here?
              <br>
              Price: <%= "#{booking.camel.price} €" %> --> does this automatically calculate the <br> amount if rented for several days?
              <br>
              <button name="Access the request" type="submit" class="btn btn-flat">
                <%= link_to "Go to request", edit_booking_path(booking) %>
              </button>
              <br>
              <br>
        </div>
        <br>
    <% end %>
<% end %>
