<div class="booking-container">
  <h1 class="booking-headline"><%= "ðŸª Book your AMAZING camel ðŸª" %></h1>
  <div class="booking-select-box">
    <div class="booking-select">
    <div id='camel-booking-dates' data-unavailable="<%= @camel.unavailable_dates.to_json %>">
    <% if current_user.id != @camel.user_id  %>
      <%= simple_form_for [@camel, @booking] do |f| %>
      <div class="checks">
        <%= f.input :check_in, as: :string, type: :text %>
        <%= f.input :check_out, as: :string, type: :text %>
      </div>
      <div class="booking-cta-box">
        <div class="booking-cta">
          <%= f.button :submit, "Book", class: "booking-cta" %>
        </div>
      </div>
      <% end %>
    <% else %>
    <p class="error-owner">You can not rent your own AMAZING camel ðŸ™„</p>
    <% end %>
    </div>
    </div>
  </div>
</div>
