<div class="booking-container">
  <h1 class="booking-headline"><%= "ðŸª Book your AMAZING camel ðŸª" %></h1>
  <div class="booking-select-box">
    <div class="booking-select">
      <%= simple_form_for [@camel, @booking] do |f| %>
      <div class="checks">
        <%= f.input :check_in, class: "booking-check-in" %>
        <%= f.input :check_out, class: "booking-check-out" %>
      </div>
      <%= f.button :submit, "Book", class: "booking-cta" %>
    <% end %>
    </div>
  </div>
