<div class="container py-5">
  <div class="row form-bg">
    <div class="col-12 col-md-6 offset-lg-3">
      <div class="bg-white rounded p-4 shadow">
        <h3 class="font-delta">Tell us about your Camel</h3>
        <%= simple_form_for(@camel) do |f| %>
          <%= f.input :name, placeholder: 'Your camel nickname - Sugarcane' %>
          <%= f.input :age, placeholder: 'How old is your amazing camel?' %>
          <%= f.input :price, placeholder: 'How much should your camel worth for a day' %>
          <%= f.input :city, placeholder: "Where's your camel living" %>
          <label for="purpose">Your camel's purpose:</label>
          <%= f.select :purpose, ["Movie Production", "Desert Trip", "Race", "Photoshoot", "Birthday Party", "Fair", "Present", "Wedding"] %>
          <%= f.input :description, placeholder: 'Let us know more about your beloved camel' %>
          <%= f.input :photo, label: "Choose the sassy picture for your camel"  %>
          <% if f.object.new_record? %>
            <%= f.submit "Create Camel", class: "btn btn-secondary" %>
          <% else %>
            <%= f.submit "Edit Camel", class: "btn btn-secondary" %>
          <% end %>
          <%= link_to "Cancel", :back, {:class=>"btn btn-flat"} %>
        <% end %>
      </div>
    </div>
  </div>
</div>
