
<div class="background" style="background-image: url('https://images.unsplash.com/photo-1499988921418-b7df40ff03f9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80')" >
  <div class="container-show">
    <div class="main-boxes">
    <div class="hero-section">
      <div class="camel-image">
        <%= cl_image_tag @camel.photo.key, height: 300, width: 300, crop: :fill, class: "camel-avatar" %>
      </div>
      <div class="new-boking">
        <%= link_to "Book", new_camel_booking_path(@camel), class: "cta-booking"%>
      </div>
    </div>
      <div class="camel-box">
        <div class="info-box">
          <div class="header-box">
            <h1 class="camel-name"><%= @camel.name %></h1>
          </div>
          <div class="description">
            <h2 class="intro">A bit more about this camel...</h2>
            <p class="description-text"> <%= @camel.description %></p>
          </div>
        </div>
        <div class="details">
          <h4 class="details-headline">Details</h4>
          <div class="details-camel">
            <p class="camel-purpose"> <%= "Purpose: #{@camel.purpose}" %></p>
            <p class="camel-price"> <%= "Price: #{humanized_money_with_symbol(@camel.price)}" %></p>
            <p class="camel-city"> <%= "Location: #{@camel.city}" %></p>
            <p class="camel-age"> <%= "Age: #{@camel.age}" %></p>
          </div>
        </div>
    </div>
  </div>
</div>
